<div class="gantt-chart" {{did-insert this.createElement}} >
<!--
   <div class="gantt-chart-innner"   
                {{on "mousedown" this.onMouseDown}}
                {{on "mouseup"   this.onMouseUp  }}
                {{on "mousemove"  this.onMouseMove }}

   >
-->
   <div class="gantt-chart-innner"   >
   
     <GanttTimeline  @showToday={{this.showToday}} @chart={{this}} />
   
     <div class="gantt-lines">
        {{#each this.projects as |project|}}
             <GanttLine  @dateStart={{project.minStartDate}}
                         @dateEnd={{project.maxEndDate}}
           	         @inlineChilds={{project.jobs}}
           	         @title={{project.title}}
           	         @project={{project}}
           	         @chart={{this}}
           	         @chartElement={{this.element_}}
           	         as |line|>
             </GanttLine>
        {{/each}}
     </div>

   </div>
</div>
